.quotes  {  
    font-size: 40px;  
    font-weight: bold;
    transform-origin: 50% 100%;  
    transform: perspective(300px) rotateX(15deg);
    margin: auto;
    overflow: hidden;
   }

   .quotesContent {
   }

   button {
       position: fixed;
       top: 80%;
       right: 45%;
   }